body {
  text-align: center;
  background-color: #283149;
}

h1,h2 {
  font-size: 3rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;

}

h2 {
 margin-top: 5px;
}
footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w{
  background-image: url(/static/img/tom1.png);
}



.a {
  background-image: url(/static/img/tom2.png);
}

.s {
  background-image: url(/static/img/tom3.png);
}

.d {
  background-image: url(/static/img/tom4.png);
}

.j {
  background-image: url(/static/img/snare.png);
}

.k {
  background-image: url(/static/img/crash.png);
}

.l {
  background-image: url(/static/img/kick.png);
}

.set {
  margin: 10% auto;
  margin-bottom: 0%;
  
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 15px;
  background-color: white;
  cursor: pointer;
}

.kit{
  display: inline-block;
  border-style: solid;
  border-color: darkseagreen;
  cursor: pointer;
  margin: 5px;
}

.my-new-button{
  background-color: rgb(60, 59, 57);
  height: 50px;
  width: 120px;
  border-radius: 15px;
  font-size: 25px;
  font-family: 'Arvo', cursive;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #DA0463;
}

.my-new-button:hover, .my-new-button:active, .my-new-button.active, .my-new-button.disabled, .my-new-button[disabled] { background-color: #151514; cursor: pointer;}