<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Drum Kit</title>
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'favicon/drumfavicon.png' %}"/>
 
  <link rel="stylesheet" href="/static/css/drumstyles.css">
</head>

<body>
  <div>
    <p> <a href="/"> <button class = "my-new-button"> Home </button></a></p>
    </div>
    
  <h1 id="title" class="cust">Drum 🥁 Kit</h1>
  <div class="set">

    <div class="kit">
      <button class="w drum"></button>
      <h2>W</h2>
    </div>

    <div class="kit">
      <button class="a drum"></button>
      <h2>A</h2>
    </div>
    
    <div class="kit">
      <button class="s drum"></button>
      <h2>S</h2>
    </div>
    
    <div class="kit">
      <button class="d drum"></button>
      <h2>D</h2>
    </div>
    
    <div class="kit">
      <button class="j drum"></button>
      <h2>J</h2>
    </div>
    
    <div class="kit">
      <button class="k drum"></button>
      <h2>K</h2>
    </div>
    
    <div class="kit">
      <button class="l drum"></button>
      <h2>L</h2>
    </div>
    
  </div>



  <script src="/static/js/index.js" charset="UTF-8"></script>
</body>

<footer>
  Made with ❤️ 
  <br>
  By The Person who speaks Bad Words.
</footer>

</html>
